/*Map view*/
.bici-maps{
	box-shadow: 1px 1px 9px #ccc;
	height:350px;
}
.white-maps{
	height: 520px;
}
.form-item-field-location-und-0-wkt{
	margin: 20px !important;
}
.data-wkt{
	display: none;
}
.vertical-margin{
	margin:20px 0px;
}

#edit-field-switch-pc-und-0-field-point-switch,
#edit-field-switch-pc-und-0-field-point-switch div,
#edit-field-router-pc-und-0-field-point-router,
#edit-field-router-pc-und-0-field-point-router div{
	display: block;
	margin-right: 0px !important;
	margin-left: 0px !important;
}
#edit-field-switch-pc-und-1-field-point-switch,
#edit-field-switch-pc-und-1-field-point-switch div,
#edit-field-router-pc-und-1-field-point-router,
#edit-field-router-pc-und-1-field-point-router div{
	display: block;
	margin-right: 0px !important;
	margin-left: 0px !important;
}
#edit-field-switch-pc-und-2-field-point-switch,
#edit-field-switch-pc-und-2-field-point-switch div,
#edit-field-router-pc-und-2-field-point-router,
#edit-field-router-pc-und-2-field-point-router div{
	display: block;
	margin-right: 0px !important;
	margin-left: 0px !important;
}
#edit-field-switch-pc-und-3-field-point-switch,
#edit-field-switch-pc-und-3-field-point-switch div,
#edit-field-router-pc-und-3-field-point-router,
#edit-field-router-pc-und-3-field-point-router div{
	display: block;
	margin-right: 0px !important;
	margin-left: 0px !important;
}


#edit-field-switch-pc-und-4-field-point-switch,
#edit-field-switch-pc-und-4-field-point-switch div,
#edit-field-router-pc-und-4-field-point-router,
#edit-field-router-pc-und-4-field-point-router div{
	display: block;
	margin-right: 0px !important;
	margin-left: 0px !important;
}


.front .alert-error{
	display: none !important;
}

.field-type-postgis .field-item{
		padding: 10px !important;
}


#wrapper-zoom-polygon{
	float: right !important;
	padding: 5px;
}

table .odd td {
    background: none repeat scroll 0 0 #EFEFEF;
}

#toolbar {
	z-index: 1200 !important;
}

.symbol{
	vertical-align: top;
	font-weight: bold;
	font-size: 18px;
}

.dms{
	width: 50px;
	text-align: right;
}
#edit-segundos{

	width: 120px;
}

.map{
	box-shadow: 1px 1px 9px #ccc;
}

#captura-map{
	margin-top: 15px !important;
}

.map img{
	max-width: inherit;

	width:auto !important;
}

div.dataLayersDiv {
    max-height: 240px !important;
    overflow-y: scroll !important;
}

/* S  T Y L  E  S     C  O  N  T  R  O  L  S */




/*hover*/
.olControlNavigationItemInactive.olButton:hover {
    background-position: -1px -24px !important;
}
.olControlDrawFeaturePointItemInactive.olButton:hover{
	background-position: -76px -24px !important;
}
.olControlDrawFeaturePolygonItemInactive.olButton:hover {
    background-position: -26px -23px !important;
}
.olControlDrawFeaturePathItemInactive.olButton:hover{
	background-position: -51px -23px !important;
}


div.olControlZoom a {
    background: none repeat scroll 0 0 rgba(20, 20, 20, 0.73) !important;

}
div.olControlZoom a:hover {
    background: none repeat scroll 0 0 rgba(120, 120, 120, 0.50) !important;

}


#OpenLayers_Control_MaximizeDiv{
	background-image: url("/sites/all/libraries/openlayers/themes/default_dark/img/layer-switcher-maximize.png");
	margin-top: 24px;
}
#OpenLayers_Control_MaximizeDiv_innerImage{
	display: none;
}

.olControlModifyFeatureItemInactive{
	color: white !important;
}
.olControlDrawFeaturePointItemInactive{
	color: white !important;
}

.olControlLayerSwitcher .layersDiv {
    background-color: #333333 !important;
    box-shadow: 1px 1px 11px #FFFFFF !important;
    margin-top: 24px !important;
}

#OpenLayers_Control_MinimizeDiv_innerImage{
	margin-top: 5px;
}

.olControlLayerSwitcher label{
	display: inline-block;
	margin: 5px !important;
	vertical-align: center;
	font-weight: normal !important;
	font: inherit !important;
}

.olControlLayerSwitcher input{
	margin-top: 0px !important;
}

.baseLbl, .dataLbl{
	font: inherit;
	font-weight: bold !important;
	text-align: center;
	font-size: 1.1em !important;

}


/*POP UPS*/
#popup_close{
	width: 26px !important;
	height: 26px !important;
}

.olPopupCloseBox{
	background: url("../images/headers.png") no-repeat scroll -478px -66px  !important;
	right: 5px !important;
	top: 21px !important;
}

#popup_contentDiv{
	background: rgba(255,255,255,.90);
	padding: 0px;
	border: 5px solid;
	border-color: rgba(255,255,255,0.12);
	-webkit-border-radius: 3px;
	-moz-border-radius:3px;
	border-radius: 3px;
	overflow: hidden;
}

#popup_contentDiv a{
	color: #00ac9a !important;
}

#chicken_contentDiv .taitle,
.popup-header{
	padding: 0px 5px;
	border-bottom: solid 1px #ccc;
}

.popup-header .name{

	font-size: : 9px;
	color: #00704E;
}

.popup-header .description{
	word-wrap: break-word;
}

.popup-header .description a{

    font-weight: bold;
    word-wrap: break-word;

}

.popup-header .description a:hover{

    opacity: .84;
}

.popup-content-wrapper {
    max-height: 126px;
    overflow-y: scroll;
	overflow-x: hidden;
}

#popup .list .name{
	color: #999;
    display: block;
    word-wrap: break-word;
    width: 168px;
}


#popup .list .description{
	padding-bottom: 7px;
	word-wrap: break-word;
	font-weight: bold;
}

#popup ul {
	margin-left: 9px !important;

}

#popup ul li{
	list-style: none;
	line-height: 15px;
}

#popup .green.multi-geo .popup-header{
	overflow: scroll;
	max-height: 200px;
}

#edit-field-sitio-cerca{
	display: none;
}

#loading .description{
	 text-align: center;

}
#loading  img{
    margin-right: 10px;
    margin-left: 10px;
}

#loading {
    background: none repeat scroll 0 0 rgba(10, 10, 10, 0.4);
    color: #FFFFFF;
    padding: 10px;
    position: absolute;
    top: 900px !important;
    width: 400px !important;
    z-index: 1 !important;
}

#chicken_contentDiv {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    box-shadow: 1px 1px 9px #999;
    height: auto !important;
}
#chicken_GroupDiv{
	max-height: 300px;
	overflow: scroll !important;

}

#chicken_contentDiv {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    box-shadow: 1px 1px 9px #999;
    height: auto !important;
}
#chicken_contentDiv ul{
	max-height: 126px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#chicken_contentDiv h5{
	font: 13px "Open Sans", Helvetica, Arial, sans-serif !important;
}

#chicken_contentDiv .wrapper-list{
	margin-bottom: 10px;
	margin-left: 0px !important;
	padding-left: 10px;
	border-bottom: 2px solid #fCfDfE;
	 box-shadow: 1px 2px 3px #DDDDDD;
    list-style: none outside none !important;

}

#chicken_contentDiv  h5{
 	color: #999999;
    display: block;
    font: bold 9px;
}
#chicken_contentDiv .info-box{
	padding: 5px;
	border-bottom: 1px solid #ddd;
}

#chicken_close {
    height: 26px !important;
    width: 26px !important;
    top: 13px !important;
}

#chicken_contentDiv .point-info a{
	font-size: 14px !important;
	font-weight: bold;
}

.box-point .name {
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.box-point .value {
	padding: 5px;
}

.olFramedCloudPopupContent {
    height: auto !important;
}


.gm-style-cc > div{
	display: none !important;
}

.nomenclatura{
	background-color: #546E7A;
	color: white !important;
}


#nomenclatura-wrapper ul.nomeclatura li {
    display: inline-block;
    font-size: 11px;
}

#nomenclatura-wrapper ul.nomeclatura li.title{
	font-weight: bold;
	font-size: 12px;
	padding-left: 2px;
}

#nomenclatura-wrapper ul.nomeclatura li img{
	margin-left: 8px;
	margin-right: 4px;
}

#popup_FrameDecorationDiv_0 img,
#popup_FrameDecorationDiv_1 img,
#popup_FrameDecorationDiv_2 img,
#popup_FrameDecorationDiv_3 img,
#popup_FrameDecorationDiv_4 img{

	width: 0px !important;
}

#chicken_GroupDiv{
	overflow: hidden !important;
}
#chicken_GroupDiv img{
 display: none;
}
#chicken_GroupDiv img.visible-img{
 display: inline-block !important;
}

#edit-field-total-help-und-0-value,
#edit-field-total-area-burned-und-0-value{
	pointer-events: none !important;
	background: #eee;
}
