/*Tablets*/
@media (min-width: 740px) and (max-width: 800px){
	body{

	}
}

/*Pantallas estandar*/
@media (min-width: 801px) and (max-width: 1220px){
	body{

	}

}

/*Pantallas grandes*/
@media (min-width: 1220px){
	body{
	}

}

/*Mobiles*/

/*Global - Aplica en todos los tamaÃ±os*/


#map-white-bike-wrapper{
	position: relative;
}

#map-incendios-wrapper, .map, .map.view-map{

	box-shadow: 1px 1px 9px #ddd !important;
}


.olAlphaImg {
                opacity:0.45;
                filter: alpha(opacity = 45);
}

.olControlLayerSwitcher .layersDiv {
                opacity:0.95;
                filter: alpha(opacity = 95);
                background-color: rgb(75, 80, 86)  !important;
                font-size: 12px;

}

.olControlLayerSwitcher {
                color:#eee !important;
                -moz-border-radius: 15px 0px 0px 15px;
                border-radius: 15px 0px 0px 15px;
                width:15em;
}

.olControlLayerSwitcher .labelSpan{
	color: white;
	font-weight: bold;
	display: inline-block;
}


.layersDiv{
  	margin-top: 24px;
}

#OpenLayers_Control_MinimizeDiv{
		  margin-top: 24px;
}
#OpenLayers_Control_MaximizeDiv_innerImage{
	  display: none !important;

 }

.olControlLayerSwitcher input.olButton{

	display: inline-block !important;
	margin-right: 5px !important;
	float: none;

}
.olControlLayerSwitcher br{
	display: block !important;
}

.olButton {
     font-weight:500;
}

.labelSpan {
     font-family: "Open Sans","Helvetica Neue","Helvetica","Arial,sans-serif";
}

.olControlLayerSwitcher br {
                display:none;
}

.olControlLayerSwitcher input {
                border-color:#d5d5d5;
                background-color: #d5d5d5 !important;
                padding-right: 0px;
                padding-bottom: 10px;
                margin-top: 7px;
                margin-right:10px;
                border-radius: 10px;
                -moz-border-radius: 10px;
                float:left;
}

.page-node-8 .olControlEditingToolbar.olControlNoSelect,
.page-node-9 .olControlEditingToolbar.olControlNoSelect{

	top: -600px !important;
}

.olControlEditingToolbar.olControlNoSelect {
    position: relative;
    top: 0px;
    z-index: 12 !important;
}
.node-type-video .olControlEditingToolbar.olControlNoSelect {
	top: -605px;

}

.olControlEditingToolbar.olControlNoSelect.bar-relative {
  position: fixed;
  top: 5px !important;
  z-index: 40222220 !important;
}

.olControlEditingToolbar .olButton:hover{
	opacity: .85;

}

.olControlEditingToolbar .olButton.ctrl-delete,.olControlEditingToolbar .olButton.ctrl-save{

    color: white;
    font-size: 12px !important;
    text-align: center;
	font-weight: bold;
    width: 60px !important;
    height: 23px !important;
}


#block-system-main .view-json-mapa .view-content{
   display: none !important;
}



/*popup*/


#popup_contentDiv {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    box-shadow: 1px 1px 9px #999;
    height: auto !important;
}
#popup_GroupDiv{

}

#popup_contentDiv {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    box-shadow: 1px 1px 9px #999;
    height: auto !important;
}
#popup_contentDiv ul{
	max-height: 126px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#popup_contentDiv .taitle h4{
	font: 11px "Open Sans", Helvetica, Arial, sans-serif !important;
}

#popup_contentDiv .wrapper-list{
	margin-bottom: 10px;
	margin-left: 0px !important;
	padding-left: 10px;
	border-bottom: 2px solid #fCfDfE;
	 box-shadow: 1px 2px 3px #DDDDDD;
    list-style: none outside none !important;

}

#popup_contentDiv .wrapper-list .main-title,
#popup_contentDiv .wrapper-list .title{
 	color: #999999;
    display: block;
    font: bold 9px;
}

#popup_close {
    height: 26px !important;
    width: 26px !important;
    top: 13px !important;
}

#popup_contentDiv .point-info a{
	font-size: 14px !important;
	font-weight: bold;
}

#popup_FrameDecorationDiv_0 img,
#popup_FrameDecorationDiv_1 img,
#popup_FrameDecorationDiv_2 img,
#popup_FrameDecorationDiv_3 img,
#popup_FrameDecorationDiv_4 img{
	width: 0px !important;
}



#popup .olPopupCloseBox{

	right: 5px !important;
	top: 21px !important;
}


.popup-header{
	padding: 0px 5px;
	border-bottom: solid 1px #ccc;
	text-align: center;

}
.popup-header .description{
	text-align: center;
}

.popup-header a{
	font-size: 15px !important;
	font-weight: bold;
}

.popup-header.Activo a{
	color: #EB2D2B;
}

.popup-header.Controlado a{
	color: #F9C233;
}

.popup-header.Extinguido a{
	color: #56B136;
}

.popup-content-wrapper .name{
	font-weight: bold;
}


g image:hover{
	opacity: .9 !important;
	box-shadow: 1px 1px 1px solid red;
}


.semaforo{
	width: 100%:
	margin: 0px !important;

}

.counter-fires{
	background: rgb(75, 80, 86);
	opacity: .9;
	color: white;
	float: right;
	padding: 10px;
	z-index: 9999999;
	border-radius: 2px;
	margin-top: -48px;
}

.semaforo ul{
	padding-top: 10px;
	padding-left: 0px !important;
}

.semaforo li{
	list-style: none;
}

.semaforo img{
	margin-top: 6px;
}

.semaforo .thumbnail{
	margin-bottom: 0px;
}

.semaforo .caption{
	margin-top: 0px !important;
}

.semaforo .info{
	margin-left: 10px;
	text-align: center;
}

.semaforo .description{
	margin-top: 10px;
}

.field-name-field-tipo-de-vegetacion-afectad .form-wrapper,
.field-name-field-participantes .form-wrapper,
.field-name-field-brigadistas-municipales .form-wrapper{

	display: inline-block !important;
	margin: 0 20px 0 20px;
}

.olControlEditingToolbar .olButton{
	background-image: none !important;
	background-color:  rgb(75, 80, 86);
	padding: 2px;
	font-size: 16px !important;
	border-radius: 0px;
	text-align: center;
}

.olControlZoomIn.olButton, .olControlZoomOut.olButton{

	background-color:  rgb(75, 80, 86) !important;
	border-radius: 0px 0px !important;
}


.field-type-postgis .grippie{
	display: none !important;
}

.openlayers_map_fullscreen{

	position: fixed;
	top: 0px;
	left: 0px;
	width: 100% !important;
	height: 100% !important;
	z-index: 999999 !important;
}

.full-screen{
		height: 100% !important;
		width: 100% !important;
		top: 0px;
		left: 0px;
		z-index: 999999 !important;
		position: fixed;
}

.bar-relative{
		z-index: 999999999;
		position: fixed;
		top: 5px !important;
}

.nomenclatura-relative{
  z-index: 12;
  position: relative;
  top: -60px;
}

.olControlFullScreenInactive.olButton.halflings.white.fullscreen{
	padding-top: 4px;
}

.media:first-child{
	margin-top: 15px !important;
}

.nomenclatura .nom-logo{
			width: 10px;
			height: 5px;
			margin:0px 10px 10px !important;
			padding: 10px 10px;
			border-radius: 13px;
			margin-top: 3px;
			border: 2px solid rgba(255,255,255,.8);
			opacity: .9;
}
.nomenclatura .nom-icon{
			background: white;
			margin:0px 10px 10px !important;
			background-image: url('../images/transportes.png');
			height: 40px;
			width: 40px;
			background-size: 280px;
			border-radius: 28px;
			background-repeat: no-repeat;
			background-position-y: 5px;

}

.nomenclatura .nom-logo:hover{
			opacity: 1;
}
#nom-tipo-reporte .nom-logo{
	border-radius: 0px !important;
}
#nom-tipo-reporte .nom-logo.logo-accidente{
	background-color: #E53935 !important;
}
#nom-tipo-reporte .nom-logo.logo-agresion{
	background-color: #FFB300 !important;
}
#nom-tipo-reporte .nom-logo.logo-bache{
	background-color: #8BC34A !important;
}
#nom-tipo-reporte .nom-logo.logo-obstaculo{
	background-color: #00BCD4 !important;
}
#white_bike .nom-logo.logo-instalada{
	background-color: #FFF !important;
}

#white_bike .nom-logo.logo-noinstalada{
	background-color: #212121 !important;
}

#sex .nom-logo.logo-hombre{
	background-color: #0288D1 !important;
}

#sex .nom-logo.logo-mujer{
	background-color: #E91E63 !important;
}

#range_age .nom-logo.logo-range-uno{
	background-color: #E53935 !important;
}
#range_age .nom-logo.logo-range-dos{
	background-color: #FFB300 !important;
}
#range_age .nom-logo.logo-range-tres{
	background-color: #1E88E5 !important;
}
#range_age .nom-logo.logo-range-cuatro{
	background-color: #00897B !important;
}
#range_age .nom-logo.logo-range-cinco{
	background-color: #8BC34A !important;
}
#range_age .nom-logo.logo-range-seis{
	background-color: #00BCD4 !important;
}
#range_age .nom-logo.logo-range-siete{
	background-color: #F4511E !important;
}
#range_age .nom-logo.logo-range-ocho{
	background-color: #212121 !important;
}
#cause .nom-icon.logo-auto{
	background-position-x: -144px;
}
#cause .nom-icon.logo-camion{
	background-position-x: 7px;
}
#cause .nom-icon.logo-camioneta{
	background-position-x: -43px;
}
#cause .nom-icon.logo-otro{
	background-position-x: -195px;
}
#cause .nom-icon.logo-taxi{
	background-position-x: -246px;
}
#cause .nom-icon.logo-transporte{
	background-position-x: -94px;
}


#density .grade-color{
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(198,27,18,0.64) 95%, rgba(198,27,18,0.65) 96%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(95%,rgba(198,27,18,0.64)), color-stop(96%,rgba(198,27,18,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(198,27,18,0.64) 95%,rgba(198,27,18,0.65) 96%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(198,27,18,0.64) 95%,rgba(198,27,18,0.65) 96%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(198,27,18,0.64) 95%,rgba(198,27,18,0.65) 96%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(198,27,18,0.64) 95%,rgba(198,27,18,0.65) 96%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6c61b12',GradientType=1 ); /* IE6-9 */
	height: 30px;
	margin: 12px 0px !important;

}

#style-controls{
	position: absolute;
	top:440px;
	padding: 5px 20px 20px 15px !important;
	background: #546E7A;
	border-radius: 0px 4px 0px 0px;
}
#style-controls label{
	color: white;
}
.featureInfo{
	list-style: none;
	padding: 10px !important;
}
.featureInfo li{
	font-size: 16px;
	border-bottom: 1px dotted #ddd;
	padding: 5px 2px;
}
